<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <title>Linernote</title>
    <meta name="description"
      content="Linernote brings Spotify, Youtube, articles and Social Media content from artists together in one app, supplemented by concert tickets.">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900">
  </head>

  <body class="{{template}}">
    {{{body}}}
    {{#playback}}
    <div class="spotify">
      {{#if item.name}}
      <div class="spotify__refresh">
        <div class="spotify__progress"></div>
        <img class="spotify__image" src="{{item.album.images.2.url}}" alt="{{item.name}}">
        <div class="spotify__song">
          <span class="spotify__track">{{item.name}}</span>
          <span class="spotify__artist">{{item.artists.0.name}}</span>
          <span class="spotify__id">{{item.id}}</span>
        </div>
      </div>
      <span class="spotify__remote">{{#if is_playing}}||{{else}}▸{{/if}}</span>
      {{else}}
      <div class="spotify__refresh">
        <div class="spotify__progress"></div>
        <div class="spotify__song">
          <span class="spotify__artist no-song">Spotify isn't playing</span>
          <span class="spotify__id">0</span>
        </div>
      </div>
      <span class="spotify__remote invisible">{{#if is_playing}}||{{else}}▸{{/if}}</span>
      {{/if}}
    </div>
    {{/playback}}
    <footer class="navigation">
      <nav>
        <a href="/home" class="navigation__tab">
          <img src="/images/home-active.svg" alt="Home">
        </a>
        <a href="/search" class="navigation__tab">
          <img src="/images/search-active.svg" alt="Search">
        </a>
        <a href="#" class="navigation__tab navigation__tab--inactive">
          <img src="/images/list-menu.svg" alt="Library">
        </a>
      </nav>
    </footer>
    <div class="inactive-message">Not in prototype</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/playbackstate.js"></script>
    {{{_sections.script}}}
    <script src="/js/inactive.js"></script>
    <script>
      if (!navigator.serviceWorker.controller) {
        navigator.serviceWorker.register("/service-worker.js").then(function (reg) {
          console.log("Service worker has been registered for scope: " + reg.scope);
        });
      }
    </script>
  </body>

</html>